* {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', Arial;
}

.container {
  width: 100vw;
  height: 100vh;
  background: rgb(184, 181, 181);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login {
  width: 450px;
  height: 450px;
  background: white;
  font-size: 20px;
}

h1{
  margin: 25px 0 0 0;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 320px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4ff;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  width: 320px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #0F6CBD;
  cursor: pointer;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
}

.link{
  text-decoration: none;
  color: #0F6CBD;
  font-size: 20px;
  margin-top: 20px;
}